<h3>Concert Details</h3>

<ul style="list-style: none">
	<li><strong>Name:</strong> <%=@concert.name %></li>
	<li><strong>Artist:</strong> <%=@concert.artist %></li>
	<li><strong>Venue:</strong> <%=@concert.venue %></li>
	<li><strong>City:</strong> <%=@concert.city %></li>
	<li><strong>Date:</strong> <%=@concert.date %></li>
	<li><strong>Price:</strong> <%=@concert.price %></li>
	<li><strong>Description:</strong> <%=@concert.description %></li>

</ul>