<h2><%= @project.name %></h2>
<ul>
	<% @time_entries.each do |entry| %>
		<li>
			<%= entry.hours %> h
			<%= entry.minutes %> m-
			<%= entry.date %>
		</li>
	<% end %>
</ul>

<h5>
	<a href="/projects/<%= @project.id %>/time_entries/new">Add Time Entry</a>
</h5>